/* Reset */
*,
* ::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html {
    min-height: 100vh;
    background: linear-gradient(150.03deg, rgb(255, 255, 255), rgb(255, 244, 244));
    background-repeat: no-repeat;
}

body {
    color: #CE9898;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    grid-template-areas: "header"
            "hero-image"
            "hero-text";
}

/* Typography */
h1{
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 10.83px;
    line-height: 42px;
    text-transform: uppercase;
}

span {
    color: #423A3A;
    font-weight: 600;
}

p {
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 32px;
    margin-top: 16px;
}

/* Header */
header {
    grid-area: header;
    height: 84px;
    display: flex;
    justify-content: left;
    align-items: center;
}
header img {
    height: 20.89px;
    margin-left: 32px;
}

/* Hero Image */
.hero-image {
    background-image: url(./images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: hero-image;
    height: 250px;
}

/* Hero Text main content */
.hero-text {
    grid-area: hero-text;
    margin-bottom: 92px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 64px;
    text-align: center;
}

/* Email Form */
form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

input {
    color:#CE9898;
    background-color: transparent;
    border: 1px solid rgba(206, 152, 152, .5);
    border-radius: 28px;
    height: 48px;
    padding-left: 24px;
    width: 311px;
}

button {
    background: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
    border: none;
    border-radius: 28px;
    box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
    height: 48px;
    width: 64px;
    margin-left: -64px;
}